@media screen and (max-width:820px) {
 
    header div h1{
        font-size: .9rem;
        margin-left: 5px;
    }
    header nav ul li{
        margin-top: 25px;
    }
    header nav ul li a{
        font-size: .8rem;
    }

    header >nav > ul > li > button{
        font-size: 1rem;
    }
    #Ingresar{
       margin-right: 10px;
        float: right;
    }
    header >nav > ul > li > button{
        top: 10px;
    }
}